* {
    box-sizing: border-box;
}
h1 {
    outline: 2px dotted red;
    background-color: yellowgreen;
    padding: 10px;
    margin: 50px;
    height: 100px;
    width: 400px;
    border: 5px solid blue;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-decoration-line: underline;
}
li {
    outline: 2px solid black;
    padding: 10px;
    margin: 10px;
    border: 20px;
    font-size: 20px;
    background-color: beige;
    height: 100px;
    width: 200px;
    border: 10px double aquamarine;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: lowercase;
    list-style-type: none;
    
}
body {
    background-color: sandybrown
}

.bon-appetit {
    position: absolute;
    top: 20px;
    right: 16px;
    float: right;
    height: 100px;
    width: auto;
}